<!-- Loop over cities and filter them with user's input -->
<ul class="cities-list">
  <li *ngFor="let city of cities | inputFilter:userInput" (click)="getWeather( city )" data-toggle="modal" data-target="#myModal">{{ city }}</li>
</ul>

<!-- Call modal component and pass forecast's data with a flag value in order to toggle modal's visibility -->
<app-modal class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" [forecastData]="dailyForecast"></app-modal>