app-modal.modal {
  margin: auto;
  max-width: 768px;
}

.modal-dialog {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.modal-content {
  height: initial;
  width: 100%;
}