<!-- SVG Inline -->
<svg aria-hidden="true" style="position:absolute;width:0;height:0" xmlns="http://www.w3.org/2000/svg" overflow="hidden"><defs><symbol id="icon-humidity" viewBox="0 0 32 32"><path d="M12 18.211C12 20.304 13.791 22 16 22s4-1.697 4-3.789C20 15.685 16 10 16 10s-4 5.684-4 8.211zm1 0c0-1.711 3-6.411 3-6.411s3 4.7 3 6.411C19 20 17.209 21 16 21s-3-1-3-2.789z"/></symbol><symbol id="icon-temp-max" viewBox="0 0 32 32"><path d="M16.987 23.166A3.001 3.001 0 0 1 16 29a3 3 0 0 1-.987-5.834 1.002 1.002 0 0 1-.013-.165V3.998c0-.56.448-.999 1-.999.556 0 1 .447 1 .999v19.003c0 .056-.005.111-.013.165zM18 22.535V4.003a1.997 1.997 0 0 0-2-2.004c-1.105 0-2 .89-2 2.004v18.532a4 4 0 1 0 4 0zM19 22a5 5 0 1 1-6 0V3.991A2.999 2.999 0 0 1 16 1c1.653 0 3 1.339 3 2.991V22z"/></symbol><symbol id="icon-temp-min" viewBox="0 0 32 32"><path d="M18 22.535V4.003a1.997 1.997 0 0 0-2-2.004c-1.105 0-2 .89-2 2.004v18.532a4 4 0 1 0 4 0zM19 22a5 5 0 1 1-6 0V3.991A2.999 2.999 0 0 1 16 1c1.653 0 3 1.339 3 2.991V22zm-3 7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></symbol><symbol id="icon-precip" viewBox="0 0 32 32"><path d="M11.364 21H7.003A4.005 4.005 0 0 1 3 17a4.007 4.007 0 0 1 3.101-3.898 6 6 0 0 1 11.56-3.094 4.5 4.5 0 0 1 7.323 3.115A4.007 4.007 0 0 1 28 17c0 2.205-1.792 4-4.003 4h-4.361L15.5 14l-4.136 7zm8.863 1H24a5.003 5.003 0 0 0 4.999-5 4.997 4.997 0 0 0-3.117-4.634 5.503 5.503 0 0 0-7.789-3.813 7 7 0 0 0-13.082 3.859A5.007 5.007 0 0 0 1.999 17c0 2.761 2.232 5 4.999 5h3.773l-1.773 3h13l-1.773-3zM15.5 16l4.75 8h-9.5l4.75-8zm-.5 2v3h1v-3h-1zm0 4v1h1v-1h-1z"/></symbol></defs></svg>

<div class="app-wrapper">
  <div class="main">
    <div class="logo-wrapper">
      <img src="../../../assets/images/logo.svg" alt="Blueground Weather App">
    </div>

    <div class="search-wrapper">
      <app-search></app-search>
    </div>
  </div>

</div>




