body {
  height: 100vh;
  font: {
    weight: 300;
    family: 'Roboto Condensed', sans-serif;
  }
  background: $grad-body;

  a { outline: none; }
}

.main {
  height: 350px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

/** Animations **/

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}