/** Unit vars **/
$rem-base: 16px;

/** Gutters / Paddings, Margins **/
$padding-sm: 10px;
$padding-md: 20px;
$padding-lg: 30px;

$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 30px;

/** Colors **/
$dark-gray: #ccc;
$dark-blue: #003a58;

/** Gradients **/
$grad-body: linear-gradient(-45deg, #4472f4,#264292);
$grad-modal: linear-gradient( 135deg, #c33764, #1d2671 );

/** Animation styles **/
$cubic: cubic-bezier(.25,.8,.25,1);
