  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <main class="forecast-container" *ngIf="!forecast.error">

            <section class="forecast-item">
              <figure>
                <svg class="icon">
                  <use xlink:href="#icon-humidity"></use>
                </svg>
                <figcaption>
                  <h1 class="value">{{ forecast.maxhumidity }} %</h1>
                  <h5 class="title">Max Humidity</h5>
                </figcaption>
              </figure>
            </section>

            <section class="forecast-item">
              <figure>
                <svg class="icon">
                  <use xlink:href="#icon-temp-max"></use>
                </svg>
                <figcaption>
                    <h1 class="value">{{ forecast.maxtempm }} ºC</h1>
                    <h5 class="title">Max Temperature</h5>
                </figcaption>
              </figure>
            </section>

            <section class="forecast-item">
              <figure>
                <svg class="icon">
                  <use xlink:href="#icon-temp-min"></use>
                </svg>
                <figcaption>
                  <h1 class="value">{{ forecast.mintempm }} ºC</h1>
                  <h5 class="title">Min Temperature</h5>
                </figcaption>
              </figure>
            </section>

            <section class="forecast-item">
              <figure>
                <svg class="icon">
                  <use xlink:href="#icon-precip"></use>
                </svg>
                <figcaption>
                  <h1 class="value">{{ forecast.precipm }} mm</h1>
                  <h5 class="title">Precipitation</h5>
                </figcaption>
              </figure>
            </section>

        </main>

        <div class="has-error" *ngIf="forecast.error">
          <h2>OOOPS! Something went wrong..</h2>
          <h4>{{ forecast.error.error.message }}</h4>
        </div>
      </div>
    </div>
  </div>

