.list-wrapper {

  app-list {
    padding: rem-calc( $padding-md ) 0;
    display: block;
  }

  .cities-list {
    padding: 0;
    list-style: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    li {
      padding: rem-calc( $padding-sm );
      border: none;
      background: #fff;
      transition: background .5s $cubic;

      &:nth-child( even ) { background: $gray-lighter; }

      &:hover { background: $dark-gray; }
    }
  }
}