.modal-dialog {
  margin: 0 auto;
  height: 100vh;
}

.modal-header {
  border: none;

  .close {
    font-size: 2em;
    color: #fff;
    opacity: 1;
  }
}

.modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
  overflow: auto;
  color: #fff;
  background: $grad-modal;
  background-size: 200%;
  -webkit-animation: Gradient 4s $cubic infinite;

  .forecast-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .forecast-item {
    margin-bottom: $margin-md;
  }

  figure {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  figcaption { display: inline-block; }

  .value {
    margin-bottom: 0;
    font: {
      weight: 300;
      style: italic;
    }
  }

  .title {
    margin: 0;
    font: {
      size: 12px;
    }
  }
}

.modal.fade {
  .modal-dialog { transform: none; }
}