app-root { min-height: 100%; }

.app-wrapper {
  padding: rem-calc( $padding-lg );
  width: 100%;
  min-height: 100%;
  max-height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .logo-wrapper {
    padding: rem-calc( $margin-lg ) rem-calc( $margin-md );

    img {
      margin: auto;
      max-width: 210px;
      display: block;
    }
  }
}