.search-wrapper {
  margin: 0 auto;
  padding: rem-calc( $margin-lg ) rem-calc( $margin-md );
  max-width: 320px;
  width: 100%;

  .city-input {
    border: none;
    border-radius: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow .3s $cubic;

    &:focus { box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }
  }
}