<div class="input-wrapper">
    <!-- Input to take user's input for search -->
    <input type="text" class="form-control city-input" [(ngModel)]="cityInput" placeholder="Please type your city" />
</div>

<div class="list-wrapper">
    <!-- Call the app-list component and pass the input from above -->
    <app-list [userInput]="cityInput"></app-list>
</div>